* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#faaf7a60;
}
.wrapper{
    width: 100%;
}
.img-black{
    width: 60%;
    height: 700px;
    padding: 20px 80px 0px;
}
.img-random{
    width: 70%;
    height: 400px;
    padding: 20px 0px 0px;    
}
.wrapper{
    margin: 0 auto 0 80px;
    width: 1000px;
    background-color: whitesmoke;
}

nav{
    width: 100%;
    height: 100px;
    background-color: white;
}
ul {
    margin-left: 0px;
}
ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0 30px;
}
ul li a:hover{
    color: red;
}
/*@media only screen and () {

} det här betyder att html ska utföra de cod som som finns i {} om det som står i () är saant*/