/**/
/*bootstrap css
css kommer läsa bootstrap sedan kommer mina ändringar med samma class tag*/
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-link.disabled {
    color: #40566e;
    pointer-events: none;
    cursor: default;
  }
  .nav-item {
    margin-bottom: -1px;
  }
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-tabs {
    border-bottom: 1px solid #c5050f;
  }

  .d-flex{
    display: -ms-flexbox;
    display: flex;
  }

  .d-inline-flex{
    display: inline-flex;
  }
  .p-2{
    padding: 0.5rem;
  }
 

  /*här efter kommer mina scc */
  /* härifrån kommer mina egna css eller de ändrigar som jag har gjort på css från bootstrap*/
  body{
    background-color: rgba(255, 255, 255, 0.801);
  }
  .fixed-top{
    background-color: rgb(51, 49, 50);
  }
  .d-flexjustify-content-center{
    justify-content: end;
  }
  .p-2{
    border: 5px solid #a8f59eab;
  }
  .d-flex .p-2{
    background-color: rgb(70, 219, 70);
  }
  .d-body{
    margin-top: 40px;
  }
  .h1{
    font-size: 26px;
    text-align: center;
  }
  .h2{
    text-align: center;
    font-size: 21px;
  }
  .card-img-top{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
  }

